body {
  margin: 0;
  padding: 0;
  text-align: center;
  font-family: Arial, sans-serif;
  background: #d9951f;
  color: #473a21;
}

h1 {
  margin: 10px;
}

#menu {
  margin-bottom: 20px;
}

#menu button {
  margin: 5px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  background: #473a21;
  color: white;
  border: none;
  border-radius: 5px;
}

#menu button:hover {
  background: #322817;
}

#gameCanvas {
  background: #d9951f;
  display: block;
  margin: auto;
  border: 2px solid #473a21;
}

#sudokuContainer table {
  margin: auto;
  border: 2px solid #473a21;
}

#wordleContainer input {
  border: 2px solid #473a21;
  border-radius: 5px;
}